<header class="header-section">
   <nav class="main-navbar">
            <div class="container">
                <!-- menu -->
                <ul class="main-menu">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    
                        {% if base_categories %}
                            {% for base_category in base_categories %}
                                <li><a href="{% url 'products' %}">{{ base_category.base_category }}</a>
                                    {% if sub_categories %}
                                        {% for sub_category in sub_categories %}
                                           <ul class="sub-menu">
                                                <li><a href="#">{{ sub_category.sub_category }}</a></li>
                                            </ul> 
                                        {% endfor %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% endif %}
                    <!-- <li><a href="{% url 'products' %}">Women</a>
                        <ul class="sub-menu">
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Skirts</a></li>
                            <li><a href="#">Leggings</a></li>
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Jeans</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'products' %}">Men</a>
                        <ul class="sub-menu">
                            <li><a href="#">Formal Shirts</a></li>
                            <li><a href="#">Casual Shirts</a></li>
                            <li><a href="#">Formal Pants</a></li>
                            <li><a href="#">Denim Jeans</a></li>                         
                        </ul>
                    </li>
                    <li><a href="{% url 'products' %}">Jewelry<span class="new">New</span></a>
                        <ul class="sub-menu">
                            <li><a href="#">Earrings</a></li>
                            <li><a href="#">Circlet</a></li>
                            <li><a href="#">Necklaces</a></li>
                            <li><a href="#">Earrings</a></li>
                            <li><a href="#">Bangles</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'products' %}">Shoes</a>
                        <ul class="sub-menu">
                            <li><a href="#">Sneakers</a></li>
                            <li><a href="#">Sandals</a></li>
                            <li><a href="#">Formal Shoes</a></li>
                            <li><a href="#">Boots</a></li>
                            <li><a href="#">Flip Flops</a></li>
                        </ul>
                    </li> -->
                    <li><a href="{% url 'contacts' %}">Contact</a></li>
                </ul>
            </div>
        </nav>
</header>